{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
	جیب بازار -صفحه فراموشی رمز عبور
{% endblock %}

{% block content %}

	  <body class="rtl" style="padding-top: 50px">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title"
                     style="background-image: url({% static 'login_register/pics/bg-01.jpg' %});">
                    <span class="login100-form-title-1">فرم فراموشی رمز عبور</span>
                </div>
                <form class="login100-form validate-form" action="{% url 'forgot_password' %}" method="post" >

                    {% csrf_token %}

                    {% if form.email.errors %}
                        <div style="color:red; font-size:12px;">
                            {{ form.email.errors.0 }}
                        </div>
                    {% endif %}

                    <div class="wrap-input100 validate-input m-b-26">
                        <span class="label-input100">ایمیل</span>
                        {{ form.email }}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            ثبت
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}