{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
	جیب بازار -صفحه ایجاد رمز جدید
{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title"
                     style="background-image: url({% static 'login_register/pics/bg-01.jpg' %});">
                    <span class="login100-form-title-1">فرم ایجاد رمز عبور جدید</span>
                </div>
                <form class="login100-form validate-form"  method="post">

                    {% csrf_token %}


                    {% if form.password.errors %}
                        <div style="color:red; font-size:12px;">
                            {{ form.password.errors.0 }}
                        </div>
                    {% endif %}

                    <div class="wrap-input100 validate-input m-b-18">
                        <span class="label-input100">رمز عبور</span>
                        {{ form.password }}
                        <span class="focus-input100"></span>

                    </div>

                    {% if form.confirm_password.errors %}
                        <div style="color:red; font-size:12px;">
                            {{ form.confirm_password.errors.0 }}
                        </div>
                    {% endif %}
                    <div class="wrap-input100 validate-input m-b-18">
                        <span class="label-input100">تکرار رمز عبور</span>
                        {{ form.confirm_password }}
                        <span class="focus-input100"></span>
                    </div>


                    {% if form.non_field_errors %}
                        <div style="color:red; margin-bottom:10px;">
                            {{ form.non_field_errors.0 }}
                        </div>
                    {% endif %}

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            ذخیره
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}