{% extends 'main/_layout.html' %}
{% block title %}
	جیب بازار -ارسال لینک فعالسازی
{% endblock %}
{% block content %}

<div class="activate-container">
    <div class="activate-box">

        <div class="activate-icon">✔</div>

        <h2 class="activate-title">
            لینک فعالسازی با موفقیت برای شما ارسال شد لطفا ایمیل خود را چک کنید .

        </h2>

        <p class="activate-text">
            تا ۵ ثانیه دیگر به صفحه ورود منتقل می‌شوید...
        </p>

        <p class="activate-count">
            زمان باقی‌مانده: <span id="countdown">5</span> ثانیه
        </p>

        <a class="activate-btn" href="{% url 'home' %}">
            رفتن به صفحه اصلی
        </a>

    </div>
</div>

{% endblock %}