{% load render_partial %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <title>
 {% block title %}هگزاشاپ{% endblock %}
</title>
      {% include 'main/header_references.html' %}

  </head>

<body>
{% render_partial 'Home_page.views.header_site_component' %}
{% block content %}{% endblock %}
{% include 'main/footer_references.html' %}
{% render_partial 'Home_page.views.footer_site_component' %}

  </body>
</html>