{% load static %}
{% load thumbnail %}
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item text-right">
{#                    <div class="logo">#}
{#                        {% thumbnail site_setting.site_logo "195x85" quality=90 crop="center" as im %}#}
{#                            <img src="{{ im.url }}">#}
{#                        {% endthumbnail %}#}
{#                    </div>#}
                    <ul>
                        <li><a href="#">{{ site_setting.address }}</a></li>
                        <li><a href="#">{{ site_setting.email }}</a></li>
                        <li><a href="#">{{ site_setting.phone }}</a></li>
                    </ul>
                </div>
            </div>

            {% for footer_box in footer_links %}
                <div class="col-lg-3 text-right">
                    <h4>{{ footer_box.title }}</h4>

                    <ul>
                        {% for link in footer_box.footerlink_set.all %}
                            <li>
                                <a href="{{ link.url }}">
                                    {{ link.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <div class="col-lg-12">
                <div class="under-footer">
                    <p>
                        {{ site_setting.copy_right }}
                    </p>
                    <ul>
                        <li><a href="{{ site_setting.github_url }}"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{ site_setting.instagram_url }}"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="{{ site_setting.telegram_url}}"><i class="fa fa-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
