 <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item text-right">
                        <div class="logo">
                            <img src="static/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">ایران ، تهران ، کریم خان</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">021-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 text-right">
                    <h4>خريد و دسته بندی</h4>
                    <ul>
                        <li><a href="#">فروش مردانه</a></li>
                        <li><a href="#">فروش زنانه</a></li>
                        <li><a href="#">فروش کودکانه</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-right">
                    <h4>لینک های مفید</h4>
                    <ul>
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">راهنمایی</a></li>
                        <li><a href="#">تماس با ما</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-right">
                    <h4>راهنمایی و اطلاعات</h4>
                    <ul>
                        <li><a href="#">راهنمایی</a></li>
                        <li><a href="#">سوالات متداول</a></li>
                        <li><a href="#">حمل دریایی</a></li>
                        <li><a href="#">شناسه پیگیری</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            کلیه حقوق محفوظ است
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
