
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="static/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">خانه</a></li>
                            <li class="scroll-to-section"><a href="#men">مردان</a></li>
                            <li class="scroll-to-section"><a href="#women">زنان</a></li>
                            <li class="scroll-to-section"><a href="#kids">بچه ها</a></li>
                            <li class="submenu">
                                <a href="#">صفحات</a>
                                <ul>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="products.html">محصولات</a></li>
                                    <li><a href="single-product.html">محصول منفرد</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#">ویژگی ها</a>
                                <ul>
                                    <li><a href="#">صفحه ویژگی 1</a></li>
                                    <li><a href="#">صفحه ویژگی 2</a></li>
                                    <li><a href="#">صفحه ویژگی 3</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">کاوش</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>منو</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->