{% load static %}
{% load thumbnail %}
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'home' %}" class="logo">
                         {% thumbnail  site_setting.site_logo "195x80" quality=90 crop="left" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section">
                            <a href="{% url 'home' %}"
                               class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                                خانه
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'product_page' %}"
                               class="{% if request.resolver_match.url_name == 'product_page' %}active{% endif %}">
                                محصولات
                            </a>
                        </li>

                        <li class="scroll-to-section">
                            <a href="#men">مردان</a>
                        </li>

                        <li class="scroll-to-section">
                            <a href="#women">زنان</a>
                        </li>

                        <li class="scroll-to-section">
                            <a href="#kids">بچگانه</a>
                        </li>

                        <li class="submenu">
                            <a href="#">صفحات</a>
                            <ul>
                                <li>
                                    <a href="{% url 'about_us' %}"
                                       class="{% if request.resolver_match.url_name == 'about_us' %}active{% endif %}">
                                        درباره ما
                                    </a>
                                </li>

                                <li>
                                    <a href="single-product.html">
                                        محصول منفرد
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'contact_us' %}"
                                       class="{% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">
                                        تماس با ما
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>منو</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->