{% extends "main/_layout.html" %}

{% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>ما جیب بازار هستیم</h4>
                                <span>{{ site_setting.site_slogan }}</span>
                                <div class="main-border-button">
                                    <a href={% url 'product_page' %}>هم اکنون بخرید!</a>
                                </div>
                            </div>
                            <img src="static/images/left-banner-image.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>زنان</h4>
                                            <span>بهترین لباس ها برای زنان</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>زنان</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</p>
                                                <div class="main-border-button">
                                                    <a href="#">بیشتر پیدا کن</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/images/baner-right-image-01.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>مردان</h4>
                                            <span>بهترین لباس ها برای مردان</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Men</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</p>
                                                <div class="main-border-button">
                                                    <a href="#">بیشتر پیدا کن</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/images/baner-right-image-02.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>بچه ها</h4>
                                            <span>بهترین لباس ها برای بچه ها</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>بچه ها</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</p>
                                                <div class="main-border-button">
                                                    <a href="#">بیشتر پیدا کن</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/images/baner-right-image-03.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>تجهیزات جانبی</h4>
                                            <span>بهترین لوازم جانبی ترند</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>تجهیزات جانبی</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</p>
                                                <div class="main-border-button">
                                                    <a href="#">بیشتر پیدا کن</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="static/images/baner-right-image-04.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** latest_products Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2 class="text-right">جدیدترین محصولات</h2>
                        <span class="text-right"> جدید ترین محصولات اضافه شده به فروشگاه بزرگ جیب بازار</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">

                           {% for latest_product in latest_products %}
                                {% include "includes/product_each_item.html" with product=latest_product %}
                           {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** latest_products Area Ends ***** -->

    <!-- ***** best_selling_products   Area Starts ***** -->
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2 class="text-right">پرفروش ترین محصولات</h2>
                        <span class="text-right">میزان فروش یک محصول می تواند معیار خوبی برای محبوبیت آن محصول در میان مشتریان باشد.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">

                           {% for best_selling_product in best_selling_products %}
                              {% include "includes/product_each_item.html" with product=best_selling_product %}
                           {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** best_selling_products   Area Ends ***** -->

    <!-- ***** featured_products  Area Starts ***** -->
    <section class="section" id="kids">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2 class="text-right">محصولات براساس امتیاز</h2>
                        <span class="text-right">محصولات براساس امتیازی مرتب شده اند میزان ستاره ها نشان میزان امتیاز دریافتی از شماست</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="kid-item-carousel">
                        <div class="owl-kid-item owl-carousel">

                           {% for top_rated_product in top_rated_products %}
                           	  {% include "includes/product_each_item.html" with product=top_rated_product %}
                           {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** featured_products  Area Ends ***** -->

        <!-- ***** featured_products  Area Starts ***** -->
    <section class="section" id="kids">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2 class="text-right">محصولات ویژه</h2>
                        <span class="text-right">محصولاتی که نسبت به جنس و برندشان قیمت مناسبی دارند در دسته محصولات ویژه قرار میگیرند</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="kid-item-carousel">
                        <div class="owl-kid-item owl-carousel">

                            {% for featured_product in featured_products %}
                            	 {% include "includes/product_each_item.html" with product=featured_product %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** featured_products  Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2 class="text-right">محصولات ما را کاوش کنید</h2>
                        <span class="text-right">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                        </span>
                        <div class="quote text-right">
                            <i class="fa fa-quote-right"></i><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و.</p>
                        </div>
                        <p class="text-right">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                        </p>
                        <p class="text-right">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                        </p>
                        <div class="main-border-button text-right">
                            <a href="products.html">بیشتر پیدا کنید</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>کیف های چرمی</h4>
                                    <span>آخرین مجموعه</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="static/images/explore-image-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="static/images/explore-image-02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>انواع متفاوت</h4>
                                    <span>بیش از 304 محصول</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2 class="text-right">رسانه های اجتماعی</h2>
                        <span class="text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>مد</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="static/images/instagram-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>جدید</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="static/images/instagram-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>برند</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="static/images/instagram-03.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>آرایشی</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="static/images/instagram-04.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>چرم</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="static/images/instagram-05.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>کیف</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="static/images/instagram-06.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading text-right">
                        <h2>با عضویت در خبرنامه ما می توانید 30 درصد تخفیف دریافت کنید</h2>
                        <span>جزئیات تا جزئیات چیزی است که هگزاشاپ را از تم های دیگر متمایز می کند.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="نام شما" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="ایمیل شما" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset class="text-right">
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane send"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6 text-right">
                            <ul>
                                <li>فروشگاه آدرس:<br><span>ایران ، تهران</span></li>
                                <li>تلفن:<br><span>021-020-0340</span></li>
                                <li>دفتر آدرس:<br><span>کریم خان</span></li>
                            </ul>
                        </div>
                        <div class="col-6 text-right">
                            <ul>
                                <li>ساعات کاری:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>ایمیل:<br><span>info@company.com</span></li>
                                <li>شبکه های مجازی:<br><span><a href="#">فیسبوک</a>, <a href="#">اینستاگرام</a>, <a href="#">بیهانس</a>, <a href="#">لینکدین</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->

{% endblock %}