{% extends "main/_layout.html" %}
{% load thumbnail %}
{% load poll_extras %}
{% block title %}
    هگزاشاپ - لیست محصولات
{% endblock %}
{% block content %}
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>صفحه لیست محصولات </h2>
                        <span>با خیالی راحت تمام محصولات ما را بررسی کنید. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    {% include "includes/product_each_item.html" with product=product %}
                {% endfor %}

                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                </li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                                <li class="{% if page_obj.number == page %} active {% endif %}">
                                    <a href="?page={{ page }}"> {{ page }} </a>
                                </li>
                            {% endfor %}

                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number  }}">قبلی</a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}